// Custom colors
$link-color: #0366d6;

// Highlight the links in the posts using a different color.
.post {
  h1 {
    font-size: 4.5rem;
  }
  p {
    a {
      color: $link-color;
      text-decoration: unset;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

.content .post-header {
  h1 {
    font-size: 6rem !important;
    text-align: center;
    color: #000;
  }
  h2 {
    font-size: 3.2rem !important;
    text-align: center;
    color: #333;
  }
}
